# Quick start test temp files
metal3-quick-start/disk-images
metal3-quick-start/bmh-vm-01.xml
metal3-quick-start/bmo/ironic-username
metal3-quick-start/bmo/ironic-password
metal3-quick-start/ironic/ironic-username
metal3-quick-start/ironic/ironic-password
metal3-quick-start/irso/ssh_testkey
metal3-quick-start/irso/ssh_testkey.pub
metal3-quick-start/kubectl